# Системные файлы ОС
.DS_Store
Thumbs.db

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории окружения и зависимостей

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
env/
venv/

# Java
*.class
*.jar
*.war
*.ear

# Ruby
*.gem
*.rbc
.bundle/
vendor/

# IDE и редакторы
# Visual Studio Code
.vscode/
*.code-workspace

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.project
.classpath
.tmp/

# macOS Finder
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Текстовые редакторы
# Sublime Text
*.sublime-*

# Vim
*.swp
*.swo

# Резервные файлы
*~

# Файлы конфигураций системы
*.bak
*.tmp

# Образцы из GitHub .gitignore (https://github.com/github/gitignore)

.AVD
test